.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Header {
  align-items: center;
  width: 100%;
}

.sus-dev {
  display: flex;
  color: #060606;
  font-size: 50px;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding-left: 50px;
  padding-top: 60px;
  width: 100%;
}

.goal5 {
  display: flex;
  color: #C15F06;
  font-size: 50px;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding-left: 65px;
  width: 100%;
}

.header-desc {
  display: flex;
  color: #000;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.header-png {
  display: flex;
  width: 100%;
}

.row-width {
  width: 100%;
  
}



/* Footer */
.hr-footer{
  border: 4px solid rgb(0, 0, 0);
}

.footer{
  background-color: #FCE2CA;
}
/* Footer */

/* News Component */
.btn{
  background-color: #FCC99B;
  color: #000000;
  
}

.row-cols-1{
  margin-left: 5%;
  margin-right: 5%;
}

.card{
  text-align: justify;
  background-color: #FCE2CA;
}

.card-title{
  font-family: 'Roboto', serif;
  font-weight: 600;
}
 .card-text{
  font-family: 'Roboto', serif;
  font-weight: 400;
 }

.card-img-top{
  padding: 5% 5% 0% 5%;
}

.fig{
  padding: 0% 0% 0% 5%;
}
/* News Component */