.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Header {
  align-items: center;
  width: 100%;
}

.sus-dev {
  font-size: 50px;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  line-height: 50px;
  width: 100%;
  text-align: center;
}

.goal5 {
  color: #C15F06;
  font-size: 50px;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  line-height: 50px;
  width: 100%;
  text-align: center;
}

.header-desc {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  padding: 30px;
}

.learnMore{
  display: inline-flex;
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #FFD7B4;
  box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15), 0px 2px 4px 0px rgba(136, 144, 194, 0.20);
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  border: none;
  text-decoration: none;
}

.header-png {
  display: flex;
  width: 100%;
}

.row-width {
  width: 100%;
  
}

/* Footer */
.hr-footer{
  background: #000;
  height: 2px;
}

/* News Component */
.btn{
  background-color: #FCC99B;
}

.row-cols-1{
  margin-left: 5%;
  margin-right: 5%;
}

.card{
  text-align: justify;
  background-color: #FCE2CA;
}

.card-title{
  font-family: 'Roboto', serif;
  font-weight: 600;
}
 .card-text{
  font-family: 'Roboto', serif;
  font-weight: 400;
 }

.card-img-top{
  padding: 5% 5% 0% 5%;
}

.fig{
  padding: 1% 0% 0% 5%;
  font-family: Roboto Serif;
}
/* News Component */

.news{
  display: flex;
  width: 142px;
  height: 44px;
  flex-direction: column;
  flex-shrink: 0;
  font-family: Roboto Serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

.news-card{
  border: none;
}

.continue-reading{
  display: flex;
  width: 150px;
  height: 40px;
  padding: 8px 12px;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: #FEC088;
  text-decoration: none;
  color: #000;
  border: none;
}
