/* Header*/
.Header {
  align-items: center;
  width: 100%;
}

.sus-dev {
  font-size: 50px;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  line-height: 50px;
  width: 100%;
  text-align: center;
}

.goal5 {
  color: #C15F06;
  font-size: 50px;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  line-height: 50px;
  width: 100%;
  text-align: center;
}

.header-desc {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  padding: 30px;
}

.learnMore{
  display: inline-flex;
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #FFD7B4;
  box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15), 0px 2px 4px 0px rgba(136, 144, 194, 0.20);
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  border: none;
  text-decoration: none;
}

.header-png {
  display: flex;
  width: 100%;
}

.row-width {
  width: 100%;
  
}
/* -------end--------- */

/* Footer */
.hr-footer{
  background: #000;
  height: 2px;
}

.issues-container{
  background: #FEC088;
}

.footer-container{
  background: #FFD7B4;
}

.btn{
  background-color: white;
}
/* -------end--------- */

/* News */
.btn-primary{
  background-color: #FFD7B4;
  color: #000;
  margin-bottom: 0%;
  border-color: #000;
}


.row-cols-1{
  margin-left: 5%;
  margin-right: 5%;
}

.card{
  text-align: justify;
  background-color: #FCE2CA;
}

.card-title{
  font-family: 'Roboto', serif;
  font-weight: 600;
}

.card-text{
  font-family: 'Roboto', serif;
  font-weight: 400;
}

.card-img-top{
  padding: 5% 5% 0% 5%;
}

.fig{
  padding: 1% 0% 0% 5%;
  font-family: Roboto Serif;
}

.news{
  display: flex;
  width: 142px;
  height: 44px;
  flex-direction: column;
  flex-shrink: 0;
  font-family: Roboto Serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

.news-card{
  border: none;
}


/* -------end--------- */

/* help */
.help-container{
  width: 100%;
  height: auto;
}

.title {
  padding-top: 30px;
  text-align: center;
  font-size: large;
}

.worm {
  width: 200px;
  height: 130px;
  float: left;
  background-color: #fce2ca;
  align-content: flex-end ;
}

.help-content{
  text-align: start;
}

.text1 {
  background-color: #fce2ca;
}

.text2 {
  background-color: #fce2ca;
}

.educ {
  width: 100%;
  margin: 30px;
  padding: 20px;
  background-color: #fce2ca;
  border-radius: 30px;
}

.econ {
  width: 100%;
  margin: 30px;
  padding: 20px;
  background-color: #fce2ca;
  border-radius: 30px;
}

.legal {
  width: 100%;
  margin: 30px;
  padding: 20px;
  background-color: #fce2ca;
  border-radius: 30px;
}

.chall {
  width: 100%;
  margin: 30px;
  padding: 20px;
  background-color: #fce2ca;
  border-radius: 30px;
}

.eng {
  width: 100%;
  margin: 30px;
  padding: 20px;
  background-color: #fce2ca;
  border-radius: 30px;
}

.inter {
  width: 100%;
  margin: 30px;
  padding: 20px;
  background-color: #fce2ca;
  border-radius: 30px;
}
/* -------end--------- */