body {
  background: #FCC99B;
}

/* Key-issues css */
.key-img {
  max-width: 100%;
  height: 60%;
}

.key-container {
  position: relative;
}

.key-center {
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  background-color: #FCC99B;
  opacity: 0.67;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.key-container:hover .key-center {
  bottom: 0;
  height: 100%;
}

.key-text {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Lato;
  font-size: 30px;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #000000;
  /* Set text color to black */
  opacity: 1;
  /* Set text opacity to 100% */
}

/* Optional: Adjust spacing and alignment of the key text */
.key-text strong {
  display: block;
  /* Make the <strong> element a block level */
  margin-bottom: 10px;
  font-size: 40px;
  /* Add some spacing below the <strong> element */
}

.accordion-button.collapsed {
  display: flex;
  align-content: center;
  text-align: center;
  background-color: #201D20;
  color: white;
  font-style: Lato;
  
}

.accordion-collapse.collapse {
  border: 30px solid #FCC99B;
  background-color: #FDDDC0;
  padding: 0;
}

.flush-collapseOne,
.accordion-body {
  text-align: start;
  display: flex;
  padding: 12px;
}

/* -------end--------- */

/* law*/
.card-law {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.5px;
  letter-spacing: 0.3px;
  text-align: left;
  margin: 20px;
}

.law-container{
  padding: 20px;
}

.article2{
  width: auto;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F6CFAC;
  margin-right: 200px;
  color: #000000;
  box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15), 0px 2px 4px 0px rgba(136, 144, 194, 0.20);
}

.article23{
  width: auto;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F6CFAC;
  margin-left: 200px;
  color: #000000;
  box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15), 0px 2px 4px 0px rgba(136, 144, 194, 0.20);
}

.law{
  display: flex;
  margin-left: 30px;
  height: auto; 
  vertical-align: middle;
  text-align: left;

}

.law-contents{
  width: 100%;
}

.article{
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.5px;
  letter-spacing: 0.3px;
}

.policies{
  padding-top: 20px;
  font-family: 'Oxygen',sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.pic{
    display: flex;
    width: 400px;
    height: 200px;
    margin-right: 50px;
}
.pindut{
  border: none;
  font-family: monospace;
  font-size: 20px;
  padding: 10px 20px;
}

.btn-secondary:hover {
  background-color: #FCC99B;
  color: #FCC99B;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgb(0, 0, 0);
}
/* -------end--------- */

/* light mode and dark mode */
.light-mode {
  background-color: #FCC99B;
  color: black;
}

.dark-mode {
  background-color: #201D20;
  color: white;
}

.navbar-container {
  display: flex;
  width: auto;
  height: 70px;
  padding: 16px 120px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #FCE2CA;
  box-shadow: 0px 1.9932421445846558px 1.2400546073913574px 0px rgba(0, 0, 0, 0.02), 0px 4.528800010681152px 3.0655105113983154px 0px rgba(0, 0, 0, 0.02), 0px 7.882175445556641px 5.7285847663879395px 0px rgba(0, 0, 0, 0.03), 0px 12.521552085876465px 9.639091491699219px 0px rgba(0, 0, 0, 0.04), 0px 19.31982421875px 15.521984100341797px 0px rgba(0, 0, 0, 0.04), 0px 30.14707374572754px 24.8353271484375px 0px rgba(0, 0, 0, 0.05), 0px 50.048828125px 41.234458923339844px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}

.dark-mode .navbar-container{
  background-color: #333;
}

.light-mode .navbar-container{
  background-color: #FCE2CA;
}

.light-mode .help{
  background-color: #fce2ca;
}

.dark-mode .navbar-container{
  background-color: #333;
  color: white;
}

.light-mode .nav-mode{
  background-color: #FCE2CA;
}

.dark-mode .nav-mode{
  background-color: #333;
  color: white;
}

.dark-mode .nav-link{
  color: white;
}

.dark-mode .news-container{
  background-color: #201D20;
}

.dark-mode .footer-container{
  background-color: #585454;
}

.light-mode .footer-container{
  background-color: #FCE2CA;
}

.light-mode .news-card{
  background-color: #FCE2CA;
}

.dark-mode .news-card{
  background-color: #585454;
  color: white;
}

.dark-mode .continue-reading{
  background: var(--backgrounds-bg-orang-20, #E2CEBC);

}

.dark-mode .help-container{
  background-color: #201D20;
  color: white;
}

.dark-mode .title {
  background-color: #585454;
  color: #ffffff;
}


.dark-mode .text1 {
  background-color: #585454;
  color: #ffffff;
}

.dark-mode .text2 {
  background-color: #585454;
  color: #ffffff;
}

.dark-mode .worm {
  background-color: #585454;
}

.dark-mode .law-container{
  background-color: #201D20;
  color: white;
}

.dark-mode .success{
background-color: #000000;
}

.dark-mode .toggle{
  color: white;
}
/* -------end--------- */

